body {
  height: auto;
  margin: 0 auto;
}

main {
  padding: 25px 10px;
  font-size: 20px;
}

img {
  width: 20rem;
}

ul {
  list-style-type: disc;
  padding: 0 20px;
}

a {
  color: gray;
}

.hero-body {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.hero.is-link {
  height: 19rem;
  background-image: url('https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2157&q=80');
  background-repeat: no-repeat;
  background-position: 50% 42%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.hero.is-link .subtitle {
  font-size: 2.25rem;
  color: rgb(29, 29, 29);
}

/* 1st page classes */

.nameCocktail {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3vh;
  font-weight: bolder;
}

.notification.is-primary {
  background-color: gray;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button.is-primary {
  background-color: gray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding: 0px 70px;
  margin: 20px;
  height: 34px;
  border-radius: 20px;
}

.button.is-primary:hover {
  background-color: rgb(41, 40, 40);

}

.wrapper {
  height: auto;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.col-12 {
  background-color: white;
}

.results-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.imgWrapper {
  height: relative;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.cocktail-card {
  width: 80%;
  height: min-content;
  background-color: white;
  box-sizing: border-box;
  margin: 25px;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 3px 10px rgb(120, 119, 120);
  border-radius: 10px;
}

.cocktail-card:hover {
  color: rgb(31, 31, 31);
}

.cocktail-card img {
  transition: all 0.5s;
  width: 96%;
  height: auto;
  max-height: auto;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
}

.cocktail-card:hover img {
  transform: scale(1.1);
}

.footer {
  position: bottom;
  bottom: 200%;
  width: 100%;
  height: 60px;
  /* Height of the footer */
  background: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* 2nd page classes */

.tile.is-ancestor {
  justify-content: center;
}

.tile {
  justify-content: space-around;

}

.nutrition-text {
  display: inline-block;
  font-size: 20px;
}

#title-hero {
  font-size: 100px;
}

/* 1st page IDs */

#search-input {
  display: inline-block;
  width: 37rem;
  height: 40px;
  border: dashed 2px gray;
  transition: all 0.5s ease;
  border-radius: 19px;
  padding-left: 15px;
  text-align: center;
}

#search-form {
  text-align: center;
}

/* 2nd page IDs */

#DrinkName {
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 3rem;
  text-align: center;
}

#SFDButton {
  background-color: white;
  color: rgb(41, 40, 40);
  font-size: 16px;
  border: 2px dotted white;
  border-radius: 19px;
}

#SFDButton:hover {
  background-color: transparent;
}

#nutrition-tile {
  width: fit-content;
  flex-shrink: .5;
}

#nutrition-title {
  display: inline;
  margin-inline-end: 5px;
  font-size: 1.5rem;
}