
header {
  height:200px;
}

ul {
  list-style-type: disc;
  padding: 0 20px;
}

.nutrition-text {
  display: inline-block;
  font-size: 20px;
}

#nutrition-title {
  display: inline;
  margin-inline-end: 5px;
  font-size: 1.5rem;
}

#SFDButton{
  position: absolute;
top: 10px;
left:70px;
}
#DrinkName{
  position:absolute;
  right:0px;
  left:0px;
  top: 15px;
  text-align: center;
}
#STF{
  position: absolute;
  top: 10px;
  right: 70px;
}
#DRU{
  position: absolute;
  top: 60px;
  right: 0;
  left:0;
  text-align: center;
}



.tile.is-ancestor {
  justify-content: center;
}

#wide {
  width: 80%;
}

.tile {
  justify-content: space-around;

}

img {
  width: 250px;
}
/* .button  {
background-color  : blue;
} */

/* first page stuff to see if I can get the results alignment better-Chris */
/* just to put a grid on the results */
body {
  height: auto;
  margin: 0 auto;
}

.col-12 {
  background-color: white;
}

.nameCocktail {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 5vh;
  font-weight: bolder;
}
.wrapper {
  height: auto;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.results-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.imgWrapper {
  height: relative;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.cocktail-card {
  width: 95%;
  background-color: white;
  box-sizing: border-box;
  margin: 25px;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 3px 10px rgb(120, 119, 120);
  border-radius: 10px;
}

.cocktail-card img {
  transition: all 0.5s;
  width: 100%;
  height: auto;
  max-height: auto;
  object-fit: cover;
  cursor: pointer;
}

.cocktail-card:hover img {
  transform: scale(1.1);
}

.cocktail-card:hover {
  color: gray;
}
.hero.is-link {
  background-color: gray;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.notification.is-primary{
  background-color: gray;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button.is-primary{
  background-color: gray;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button.is-primary:hover{
  background-color: rgb(41, 40, 40);
  
}

#title-hero{
  font-size: 100px;
}
#search-input{
  display: block;
  width: 100%;
  height: 40px;
  border: solid 3px gray ;
  transition: all 0.5s ease;
  border-radius: 5px;
  padding-left: 15px;
  text-align: center;
}
#search-form {
  text-align: center;
  
}

#martini glass{
  align-items: left;
}

.footer{
  position: bottom;
   bottom: 200%;
   width: 100%;
   height: 60px;   /* Height of the footer */
   background: white;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}